*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.rt-icon {
    display: block; 
    width: 30px;
    height: 25px;
}

.cb__icon-container {
    display: inline-block;
    padding: 5px; 
}


.social-media-icon a{
    fill: white;
    align-items: center;
    align-content: center;
    padding-left: 1rem;
}
.social-media-icon a span svg:hover{
    fill: var(--paletteColor3) ;
}

.up-header-background{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: var(--paletteColor4);
    padding-left: 10rem;
    padding-right: 10rem;
}

.number-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.number-section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.number-section ul li {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.cb__icon-container, .icon-container {
    margin-right: 10px;
}

.cb__icon-container svg, .icon-container svg {
    fill: #fff;
    width: 20px;
    height: 20px;
    transition: fill 0.3s ease;
}

.contact-text a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.hover-container:hover .cb__icon-container svg {
    fill: var(--paletteColor3); 
}
.hover-container:hover .icon-container svg {
    fill: var(--paletteColor3); 
}

.hover-container:hover .contact-text a {
    color: var(--paletteColor3); 
}


.icon-container svg{
    padding-top: 0.3rem;
}

@media (max-width: 768px) {
    .up-header-background {
        display: none;
    }
}