.container1 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 2rem;
  padding-left: 11rem;
  height: 80vh;
  margin-bottom: 2rem;
  /* border: 2px solid red; */
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 35rem;
  height: 65vh;
  /* border: 2px solid blue; */
}

.image {
  height: 20rem;
  width: 33rem;
  border-radius: 15px;
  margin-bottom: 10px;
}

.title {
  font-size: 1.8rem;
  color: var(--paletteColor2);
  margin-bottom: 10px;
}

.description {
  font-size: 1.3rem;
  color: #4b5563;
  margin-bottom: 20px;
}

.read-more {
  font-size: 1.5em;
  color: #1e3a8a;
  font-weight: bold;
}

.read-more:hover {
  
  color: var(--paletteColor3);
}

@media screen and (max-width: 768px) {
  .container1 {
  padding-left: 0em;
  padding-left: 0rem;
  height: 95vh;
  /* border: 1px solid blue; */
  flex-direction: column;
}
.card1 {
  padding: 10px;
  width: auto;
  height: 65vh;
  /* border: 2px solid red; */
}
.image { 
  height: 25rem;
  width: 45rem;
  border-radius: 15px;
  margin-bottom: 10px;
}
}
@media screen and (max-width: 480px) {
  .container1 {
  height: 75vh;
}
.card1 {
  height: 55vh;
}
.image { 
  height: 15rem;
  width: 25rem;
}
}
